<header>
</header>
<main role="main">
	Test
	<div class="ghostedcard">{{#foreach posts}}
		What this is a test what
		<div class="card-title">{{posts.title}}</div>
		<div class="card-content"></div>
		<div class="card-footer">
			<div class="card-tags"></div>
			<div class="card-date"></div>
		</div>
	</div>
</main>
